a {
    text-decoration: none;
}
body {
    background: #ECECEC;
    color : black;
    font-family : Arial, Calibri;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.container {
    margin-left:auto;
	margin-right:auto;
	position:relative;
	max-width: 900px;
}
#logo {
    padding-top: 20px;
    padding-bottom: 4px;
}
#login {
    line-height: 100%;
    position: absolute;
    text-align: right;
    right: 10px;
    bottom: 10px;
}
header nav {
    background-color: #009900;
    text-align: left;
}
header nav .menu_cell {
    display: inline-table;
    line-height: 3em;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
header #kategorilist {
    background-color: #99FF99;
    box-shadow: inset 0px 2px 3px #888;
    -moz-box-shadow: inset 0px 2px 3px #888;
    -webkit-box-shadow: inset 0px 2px 3px #888;
}
header #kategorilist a {
    color: black;
    display: inline-table;
    line-height: 2em;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
header #kategorilist a:hover {
    background-color: #CCFFCC;
    
    box-shadow: inset 0px 2px 3px #888;
    -moz-box-shadow: inset 0px 2px 3px #888;
    -webkit-box-shadow: inset 0px 2px 3px #888;
}
article {
    padding-bottom: 16px;
    padding-top: 16px;
}
header nav a {
    color: white;
    font-weight: bold;
}
header nav a:hover {
    background-color: #006600;
    color: white;
}
footer {
    padding-top: 10px;
}
#total_keranjang {
    background-color: red;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 1.7em;
}
#wbd_search {
    position: absolute; 
    top: 0; 
    right: 0;
}

/* PENDAFTARAN */
#daftar_kartukredit input, #daftar_kartukredit select, #pendaftaran input {
    padding: 4px;
}
#daftar_kartukredit input[type=text], #pendaftaran input[type=text], #pendaftaran input[type=password] {
    font-family: monospace;
}
#daftar_kartukredit h2, #pendaftaran h2 {
    padding-left: 16px;
    font-size: 16px;
}
#daftar_kartukredit p, #pendaftaran p {
    margin-top: 4px;
    margin-bottom: 4px;
}
#daftar_kartukredit label, #pendaftaran label {
    display: inline-block;
    padding-right: 8px;
    text-align: right;
    width: 200px;
}

/* PROFIL ATAU IDENTITAS */
#identitas span {
    display: inline-block;
    font-weight: bold;
    padding-right: 8px;
    text-align: right;
    width: 200px;
}

/* TAMPILAN SETIAP BARANG DI HOME */
.box_kategori {
    padding: 12px;
}
.box_kategori .box_nama {
    display: block;
    line-height: 3em;
    margin-left: -4px;
}
.box_kategori .box_nama h2 {
    display: inline-block;
    padding-right: 12px;
    margin-top: 6px;
    margin-bottom: 12px;
}
.box_barang {
    color: #444;
    margin: 4px;
    border: solid thin #CCCCCC;
    display: inline-block;
    max-height: 200px;
    width: 120px;
    text-align: center;
    padding: 10px;
    vertical-align: top;
}
.box_barang:hover {
    border: solid thin black;
    color: black;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}
.box_barang .gambar_barang {
    width: 100px;
    height: 100px;
}
.box_barang h3 { /* untuk nama barang */
    display: block;
    margin: 0px;
    padding: 0px;
}
.box_barang .harga {
    display: block;
    margin: 0px;
    padding: 0px;
}
.box_barang > form [name=qty] {
    width: 30px;
    margin-right: 10px;
}

/* TAMPILAN DI HALAMAN KATEGORI */
.kategori > p {
    text-align: center;
    border-bottom: solid black thin;
}
.kategori > h1 {
    margin-left: 12px;
}
.kategori > p > a {
    line-height: 2em;
}
.kategori .sorting {
    padding: 10px;
    margin-right: 10px;
}
.kategori .sorting:hover {
    text-decoration: underline;
}

/* TABLE */
.table {
    display: table;
}
.table > .row {
    display: table-row;
    margin-bottom: 10px;
}
.table > .row > .column {
    display: table-cell;
    padding-bottom: : 4px;
    padding-left: 10px;
    padding-top: 4px;
    padding-right: 10px;
}

/* TABLE ON SHOPPING BAG */
.thead {
    background-color: #CCC;
    line-height: 2em;
    font-weight: bold;
    max-width: 890px;
}
.thead span:first-child {
    text-align: center;
    min-width: 100px;
}
.thead span:nth-child(2) {
    min-width: 360px;
}
.thead span:nth-child(4), .thead span:nth-child(5) {
    text-align: center;
    min-width: 140px;
}
.tcontent span {
    vertical-align: middle;
}
.tcontent [name^=qty] {
    width: 30px;
}